.HerosListLoader{
	color: 'black';
    background: white;
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    height: 175px;
    position: top;
    padding-top: 10px;
}

.HerosListLoader:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
